<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
      <app-breadcrumb [title]="'Bienvenido'" [items]="['Home']" [active_item]="'Bienvenido'"></app-breadcrumb> 
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header">
              
              <h2>Alumno</h2>
              
            </div>
            <div class="body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>